.modal {
  position: fixed;
  background-color: var(--modal-background);
  z-index: 4;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  .box {
    background-color: var(--forground);
    color: var(--background);
    padding: 1rem;
    border-radius: 1rem;
    width: auto;
    max-width: 50rem;
    min-height: 10rem;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 2rem;
      text-align: left;
    }

    .row {
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-wrap: wrap;
    }
    .group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: bold;
      gap: 0.5rem;
      height: 3rem;
      box-shadow: 0 0 2px var(--shadow);
      border-radius: 999px;
      padding: 0 0.5rem;

      input {
        border-radius: 999px;
        padding: 0.2rem 0.5rem;
        width: 5rem;
      }

      input {
        box-shadow: inset 0 0 10px var(--shadow);
      }
    }
    button {
      border-radius: 999px;
      padding: 0.2rem 0.5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--forground);
      margin: 2rem auto 0 auto;
      svg {
        width: 1.2rem;
      }
    }
  }
}
