.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;

  @media all and (min-width: 550px) {
    flex-direction: row;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      border: none;
      display: flex;
      align-items: center;
      width: max-content;
      gap: 0.5rem;
      svg {
        width: 0.7rem;
      }
    }
  }
}
