.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 2rem 0 4rem 0;

  nav {
    display: flex;
    align-items: center;
    button {
      border: none;
      display: flex;
      align-items: center;
      width: max-content;
      gap: 0.5rem;
      svg {
        width: 1rem;
      }
    }
  }
}
