@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

:root {
  --primary: #218a21;
  --background: #04031d;
  --forground: #ffffff;
  --shadow: rgba(4, 3, 29, 0.2);
  --modal-background: rgba(4, 3, 29, 0.9);
}

.light-mode {
  --background: #ffffff;
  --forground: #04031d;
  --shadow: rgba(255, 255, 255, 0.2);
  --modal-background: rgba(255, 255, 255, 0.9);
}

.dark-mode {
  --background: #04031d;
  --forground: #ffffff;
  --shadow: rgba(4, 3, 29, 0.2);
  --modal-background: rgba(4, 3, 29, 0.9);
}

.work {
  --primary: #d14d4d;
}
html {
  font-family: "Quicksand", sans-serif;
  background-color: var(--background);
  color: var(--forground);
  padding: 0 1rem;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
  width: 100%;
}

button {
  border: 2px solid var(--primary);
  border-radius: 999px;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;

  &.active {
    background-color: var(--primary);
  }
}

img,
svg {
  width: 100%;
}
